/*! Copyright (c) 2014 九州大学噴水企画'14 | MIT Lisence | http://git.io/JbFCbw */

// tablet
@media only screen and (min-width : 481px) and (max-width : 768px)

	main
		min-width 0
		min-height 0
	
	#loading
		transform translate(-50%, -50%) scale(0.6)
		
	.decoration:before, .decoration:after
		width 40%
	
		// glide
	.slider
		height 80%

	.slide
		img
			margin 0 5%
			width 200px
			transform translateY(-100%)
			
	.slider__nav
		bottom 15px
	
	.slider__arrows-item
		width 59px
		height 100px
	
	.slider__arrows-item--left
		left 0
	
	.slider__arrows-item--right
		right 0

	// header
	#top, #introduction
		width 90%
		font-size 1.2em
	
	#skip
		font-size 1.8em
	
	// section
	#about, #information, #variety, #darkknight, #contact, #information
		> div
			width 90%
			font-size 1.2em
	
	#information
		> h2
			width 90%
			
		> div
			width 100%
			font-size 1.2em
			
			img
				width 90%
			
			.title
				width 100%
			
			.map
				width 80%

	#darkknight
		> div
			> h2
				>img
					width 100%
	

	#poster, #special
		> div
			> p
				height 20%
				padding 0.7em 0 0 0

	#contact
		height 80%

// phone
@media only screen and (min-width : 320px) and (max-width : 480px)

	main
		min-width 0
		min-height 0
	
	#loading
		transform translate(-50%, -50%) scale(0.3)
	
	// class
	.decoration:before, .decoration:after
		width calc(40% - 20px)
	
	// glide
	.slider
		height 80%

	.slide
		img
			margin 0 5%
			width 30%
			max-width 100px
			transform translateY(-100%)
			
	.slider__nav
		bottom 15px
	
	.slider__arrows-item
		width 59px
		height 100px
	
	.slider__arrows-item--left
		left -5px
	
	.slider__arrows-item--right
		right -5px


	// header
	#top, #introduction
		width 90%
		font-size 0.8em
	
	#introduction
		letter-spacing -0.03em
	
	#skip
		font-size 1.2em
	
	// section
	#about, #information, #variety, #darkknight, #contact, #information
		> div
			width 90%
			font-size 0.8em
			
	#about
		min-height 380px
		background-position-x 95%

	#variety
		min-height 730px
		height 130%
		background-position-x 49%
		
		> div
			width 60%
			
			> img:nth-child(1)
				width 60%
				max-width 130px
				border 5px solid #aaa
				
			> img:nth-child(2)
				width 85%
			
			> p
				font-size 1.0em
		
		.logo
			top 14%
			left 50%
		
		.hogee
			top 40%
			> img:nth-child(2)
				transform translate(-151%, -13%)
				max-width 195px
		
		.head
			top 72%
			left 25%
			> img:nth-child(2)
				transform translate(-18%, -10%)
				max-width 210px

	#information
		height 220%
		min-height 900px
		
		> h2
			width 90%
			top 4%
		
		> h2:before, h2:after
			width 27%
		
		> p
			width 90%
			font-size 0.8em
			margin-top 2em
			line-height 1.8em
			top 20%
			letter-spacing -0.03em
		
		> div
			width 100%
			top 65%
			
			> p
				width 17.5em
				font-size 1em

			img
				width 90%
			
			.title
				width 100%
			
			.map
				width 80%
			

	#darkknight
		min-height 500px

		> div
			> h2
				>img
					width 100%
	
	#poster, #special
		> div
			> p
				height 20%
				font-size 0.8em
				padding 0.7em 0 0 0
	
	#contact
		height 85%
		min-height 500px
	
	#mail
		input[type="text"]
			width 100%
		
		textarea
			width 100%
			height 200px
	
	footer
		font-size 0.8em
		height 15%

// iPhone6		
@media screen and (min-width: 375px) and (max-width: 500px)

	#information
		height 200%
		
		> h2
			top 6%
		
	