/*! Copyright (c) 2014 九州大学噴水企画'14 | MIT Lisence | http://git.io/JbFCbw */

@media only screen and (min-width : 320px) and (max-width : 480px)

	main
		min-width 0
		min-height 0
	
	#loading
		transform translate(-50%, -50%) scale(0.3)
	
	// class
	.decoration:before, .decoration:after
		width calc(40% - 20px)
	
	// glide
	.slider
		height 75%

	.slide
		img
			margin 0 5%
			width 30%
			max-width 100px
			transform translateY(-100%)
			
	.slider__nav
		bottom 15px
	
	.slider__arrows-item
		width 59px
		height 100px
	
	.slider__arrows-item--left
		left 0
	
	.slider__arrows-item--left
		right 0


	// header
	#top, #introduction
		width 90%
		font-size 0.8em
	
	#skip
		font-size 1.2em
	
	// section
	#about, #information, #variety, #darkknight, #contact
		> div
			width 90%
			font-size 0.8em
			
	#about
		min-height 380px

	#information
		min-height 230px

	#variety
		min-height 730px
		height 130%
		
		> div
			width 60%
			
			> img:nth-child(1)
				width 60%
				max-width 130px
				border 5px solid #aaa
				
			> img:nth-child(2)
				width 85%
				max-width 195px
			
			> p
				font-size 1.0em
		
		.logo
			top 14%
			left 50%
		
		.hogee
			top 40%
			> img:nth-child(2)
				transform translate(-143%, -13%)
		
		.head
			top 72%
			left 25%
			> img:nth-child(2)
				transform translate(-20%, -5%)
			

	#darkknight
		min-height 500px

		> div
			> h2
				>img
					width 100%
	
	#poster, #special
		> div
			> p
				height 25%
				font-size 0.8em
	
	#contact
		min-height 500px
	
	#mail
		input[type="text"]
			width 100%
		
		textarea
			width 100%
			height 200px
	
	footer
		font-size 0.8em
		height 15%