/*! Copyright (c) 2014 九州大学噴水企画'14 | MIT Lisence | http://git.io/JbFCbw */

// init
*
	font-family "Maru Folk Regular"

html, body
	width 100%
	height 100%


// function
size(percent)
	width 100%
	height percent

center(percentTop, parcentLeft = 50%)
	position absolute
	top percentTop
	left parcentLeft
	transform translate(-50%, -50%)


// class
.decoration
	width 100%
	height 50px
	margin 0 auto
	background url(../embed/logo.min.png) center no-repeat
	background-size 50px
	position relative

.decoration:before
	content ""
	width 220px
	height 3px
	position absolute
	left 0
	top 50%
	transform translateY(-50%)
	display block
	background white

.decoration:after
	content ""
	width 220px
	height 3px
	position absolute
	right 0
	top 50%
	transform translateY(-50%)
	display block
	background white


// glide
.slider
	position relative
	height 70%
	width 100%
	overflow hidden

.slides
	height 100%
	width 100%
	list-style-type none
	margin 0
	padding 0

.slide
	height 100%
	width 100%
	float left
	clear none
	
	img
		position relative
		top 40%
		transform translateY(-50%)
		margin 0 10px
	
	a
		text-decoration none


.slider__nav
	position absolute
	bottom 25px

.slider__nav-item
	width 12px
	height 12px
	float left
	clear none
	display block
	margin 0 10px
	background gray
	border-radius 50%

.slider__nav-item--current
	background white

.slider__arrows-item
	position absolute
	display block
	top 40%
	width 117px
	height 200px
	background url("../embed/arrow.min.png")
	background-size 100%

.slider__arrows-item--left
	left 5px
	transform translateY(-50%)

.slider__arrows-item--right
	right 5px
	transform translateY(-50%) rotate(180deg)


// loading
#load
	size(100%)
	position absolute
	top 0
	z-index 100
	background white
	transition top 1s ease-in

#load.open
	top -100%

#load.end
	display none

#loading
	width 566px
	height 890px
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%) scale(0.5)

#wave
	position relative
	backface-visibility hidden
	z-index 100

#percent
	height 90px
	margin 0
	color #111
	text-align center
	line-height 90px
	font-size 2.5em

noscript
	display block
	position relative
	top 700px
	color #111
	text-align center
	font-size 2.5em

#hogee
	position absolute
	top 0
	left 50%
	transform translateX(-50%)


// main
main
	size(100%)
	min-width 980px
	min-height 735px
	position fixed

main.open
	position absolute


// header
header
	position relative
	size(200%)

	> video
		position fixed
		top 50%
		left 50%
		min-width 100%
		min-height 100%
		transform translate3d(-50%, -50%, 0)
		z-index -10
	
#overlay
	position fixed
	background url("../embed/overlay.gif")
	width 100%
	height 100%
	z-index -5

#vimage
	position fixed
	top 50%
	left 50%
	z-index -10
	min-width 100%
	min-height 110%
	backface-visibility hidden
	transform translate(-50%, -50%)

#vimage.hide
	display none

#vcanvas
	position fixed
	top 0
	z-index -10
	backface-visibility hidden
	-webkit-transform translateZ(0)
	
#skip
	position absolute
	top 0.5em
	right 1em
	font-size 2em
	color white
	opacity 0.5
	cursor pointer
	user-select none
	transition visibility 0.3s ease,opacity 0.3s ease

#skip.hide
	visiblity hidden
	opacity 0

#skip.end
	display none

#top
	width 800px
	color white
	center(25%)
	border-top solid 5px white
	border-bottom solid 5px white
	z-index 50
	visiblity hidden
	opacity 0
	transition visibility 1s ease,opacity 1s ease
	
	img
		width 100%

#top.display
	visiblity visible
	opacity 1


#introduction
	width 800px
	font-size 1.4em
	center(75%)
	z-index 50
	color white

h1
	font-size 1em
	font-weight normal



// section start

// about
#about
	position relative
	background url("../img/background001.jpg") black center fixed
	background-size cover
	size(100%)

	> div
		width 530px
		color white
		text-align center
		font-size 1.4em
		padding-bottom 23px
		border-bottom solid 3px white
		center(50%)


// veriety
#variety
	position relative
	background url("../img/background002.jpg") black center fixed
	background-size cover
	size(200%)

	> div
		width 300px
		text-align center

		> img:nth-child(1)
			width 200px
			border 20px solid #aaa
		
		> p
			color white
			font-size 1.4em
			margin 0
	
	.logo
		center(16%, 30%)
	
	.hogee
		center(39%, 70%)
		
		> img:nth-child(2)
			position absolute
			width 300px
			transform translate(-460px, -30px)
	
	.head
		center(68%, 30%)
		
		> img:nth-child(2)
			position absolute
			width 400px
			transform translate(-62px, -60px)

// information
#information
	position relative
	background url("../img/background005.jpg") black center fixed
	background-size cover
	size(250%)
	
	> h2
		width 600px
		color white
		text-align center
		center(5%)

	> p
		width 600px
		color white
		text-align left
		font-size 1.4em
		center(20%)
	
	> div
		width 800px
		color white
		text-align center
		font-size 1.4em
		center(70%)
		
		> p
			width 400px
			margin 1em auto
			text-align left


// darkknight
#darkknight
	position relative
	size(100%)
	background white

	> div
		width 800px
		text-align center
		center(50%)
		
		> h2
			> img
				width 800px
		
		> div
			margin 1em 0 0 0
			font-size 1.4em
			
			> a
				display block
				width 240px
				height 135px
				margin 0 auto
				background-image url("../img/thumb/DKN.png")
				background-size 100%
				background-position-y -22.5px


// poster, special
#poster
	background url("../img/background003.jpg") black center fixed

#special
	background url("../img/background004.jpg") black center fixed
	
#poster, #special
	position relative
	background-size cover
	color white
	size(50%)

	> div
		width 100%
		height 100%
		text-align center
		
		> p
			height 30%
			margin 0
			padding 1.7em 0 0 0
			border 0
			box-sizing border-box
			font-size 1.3em
			line-height 1.7em


// contact
#contact
	position relative
	background white
	size(100%)

	> div
		width 700px
		text-align center
		center(50%)

#mail
	div
		width 12em
		height 1.8em
		margin 10px 0
		background #45BEE6
		border-radius 10px
		line-height 2em
		color white

	input[type="text"]
		width 700px
		height 2em
		box-sizing border-box
		padding 0 10px
		margin-bottom 15px
		border 2px dashed #45BEE6
		border-radius 10px
		-webkit-appearance none 

	input[type="text"]:focus
		outline none

	textarea
		width 700px
		height 400px
		box-sizing border-box
		margin-bottom 15px
		padding 10px
		border 2px dashed #45BEE6
		border-radius 10px
		resize none
		-webkit-appearance none 

	textarea:focus
		outline none

	input[type="submit"]
		width 12em
		height 2em
		color white
		background #ff4282
		border-radius 10px
		line-height 2em
		border-style none
		transition background 0.2s ease-out

	input[type="submit"]:focus
		outline none

#mail.cancel
	input[type="submit"]
		background #828282
		cursor default
		
footer
	background white
	size(20%)
	text-align left
	font-size 1.5em

	table 
		margin 0 auto
		
		th
			font-weight normal
		
		td,th
			padding 0.3em 0.5em
			
			> a
				text-decoration none
				color black
			
			> a:link, a:visited
				color black
				